language: node_js

node_js:
    - "6"

notifications:
  email:
    on_success: never
    on_failure: change
  slack:
    rooms:
      - wsu-ucomm:n2TLZRJd84rMOMbkKthSEMgS
    on_success: change
    on_failure: always
    on_start: never

branches:
  only:
    - master

before_script:
  - npm install -g npm
  - npm install -g grunt-cli
  - npm install
  - npm prune
  - npm --version
  - node --version

script:
  - grunt default
