/* animation */

@keyframes fade-in {

  0%   {
		opacity: 0;
	}
  100% {
		opacity: 1;
	}

}

/* - */

body {
	display: grid;
	font-family: arial, sans-serif;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
	grid-template-areas: "nav header" "nav main" "nav footer";
	min-height: 100vh;
}

.header-global {
	background: #fff;
	border-bottom: 1px solid #777;
	grid-area: header;
	height: 100px;
}

.navigation-main {
	grid-area: nav;
}

.footer-global {
	background: #fff;
	border-top: 1px solid #777;
	grid-area: footer;
	height: 20px;
}

main {
	grid-area: main;
}
