.navigation-main {
	background: #404040;
	position: relative;
	width: 60px;
	transition: width .3s ease;
}

.navigation-main > ul {
	display: none;
	margin-top: 120px;
	opacity: 0;
}

.navigation-open .navigation-main {
	width: 300px;
}

.navigation-open .navigation-main > ul {
	display: block;
	animation-name: fade-in;
	animation-delay: .3s;
	animation-duration: .2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

/* toggle */
.navigation-toggle {
	background: transparent;
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	color: #fff;
	font-size: 1.2em;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.navigation-open .navigation-toggle {
	height: 60px;
	right: 10px;
	left: initial;
}

/* navigation links */

.navigation-main ul {
	list-style: none;
	font-size: .8rem;
}

.navigation-main ul a {
	color: #fff;
	text-decoration: none;
}

.navigation-main ul a:hover {
	color: #ccc;
}

.navigation-main ul ul {
	display: none;
}

.navigation-main > ul > li {
	height: 44px;
	line-height: 44px;
}

.navigation-main > ul .has-items a {
	display: block;
	height: 44px;
	width: 100%;
}

.navigation-main > ul > .has-items-open {
	height: auto;
}

.navigation-main .has-items-open > ul {
	display: block;
}

.navigation-main .has-items {
	position: relative;
}

.navigation-main .has-items:after {
	content: "+";
	display: block;
	color: #fff;
	position: absolute;
	top: 0;
	right: 30px;
	z-index: -1;
}

.navigation-main .has-items.has-items-open:after {
	content: "-";
}
