.navigation-main {
	position: absolute;
	width: 60px;
	background: #212121;
	top: 0;
	bottom: 0;
	left: 0;
}

.navigation-open .navigation-main {
	width: 300px;
}

.navigation-main > ul {
	display: none;
	margin-top: 120px;
}

.navigation-open .navigation-main ul {
	display: block;
}
